<h1><u>Button:</u></h1>
<!-- Mat Button -->
<button mat-button>Button</button> 
&nbsp;
<!-- Mat Raised Button -->
<button mat-raised-button>Button</button> 
&nbsp;
<!-- Mat Flat Button -->
<button mat-flat-button color="primary">Button</button>  
&nbsp;
<!-- Mat Stroked Button -->
<button mat-stroked-button color="primary">Button</button>  
&nbsp;
<!-- Mat Icon Button -->
<button mat-icon-button color="warn">
  <mat-icon>favorite</mat-icon>
</button>
&nbsp;
<!-- Mat Fab Button -->
<button mat-fab color="primary">
  <mat-icon>bookmark</mat-icon>
</button>
&nbsp;
<!-- Mat Icon Button -->
<button  mat-mini-fab color="accent">
  <mat-icon>plus_one</mat-icon>
</button>
&nbsp;
